@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora/Lora-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

main {
  height: calc(100% - 175px); /* 175px it's footer height */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #212121;
  background-color: #fafafa;
}

.custom-box-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
}

/* Swiper-slider */
/* mySwiper1 */
.mySwiper .swiper-wrapper {
  margin-bottom: 20px !important;

  @media screen and (min-width: 768px) {
    margin-bottom: 46px !important;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 40px !important;
  }
}

.mySwiper .mySwiper-prev,
.mySwiper .mySwiper-next {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 44px !important;
  height: 44px !important;
  margin-top: 0 !important;
  border-radius: 50%;
  border: 1px solid #9e9e9e;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;

  position: relative !important;
}

.mySwiper .mySwiper-prev svg,
.mySwiper .mySwiper-next svg {
  width: 24px !important;
  height: 24px !important;
}

/* mySwiper2 */

.mySwiper2 {
  position: relative !important;
  width: 343px !important;
  height: 391px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-bottom: 58px !important;

  @media screen and (min-width: 768px) {
    width: 343px !important;
    height: 358px !important;
    padding-bottom: 32px !important;
  }

  @media screen and (min-width: 1440px) {
    width: 520px !important;
    height: 505px !important;
    padding-bottom: 0px !important;
  }
}

.mySwiper2 .swiper-wrapper {
  margin-bottom: 16px !important;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px !important;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 0px !important;
  }
}

.mySwiper2 .swiper-slide {
  border-radius: 20px !important;
  overflow: hidden;
}

.mySwiper2 .swiper-pagination {
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

/* mySwiper3 */
.mySwiper3 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mySwiper3 .swiper-wrapper {
  display: flex !important;
  flex-direction: column !important;
  gap: 13.75px !important;
}

.mySwiper3 .swiper-slide {
  width: 84px !important;
  height: 90px !important;
  margin-right: 0 !important;
  border-radius: 20px !important;
  overflow: hidden;
  opacity: 0.4;
  cursor: pointer;
}

.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

/* mySwiper2, mySwiper3 common swiper styles */
.mySwiper2 .swiper-slide img,
.mySwiper3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 .mySwiper2-prev,
.mySwiper2 .mySwiper2-next {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #9e9e9e;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.mySwiper2 .mySwiper2-prev:hover,
.mySwiper2 .mySwiper2-next:hover {
  background-color: #bbdefb;
  border: 1px solid transparent;
}

.mySwiper2 .mySwiper2-prev:active,
.mySwiper2 .mySwiper2-next:active {
  background-color: #1565c0;
  border: 1px solid transparent;
}

.mySwiper2 .mySwiper2-prev:active svg,
.mySwiper2 .mySwiper2-next:active svg {
  color: white;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  position: initial !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 7px !important;
  border: 1px solid #ff9800;
  background-color: transparent !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff9800 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #212121;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.customInput input:focus + .prevIcon {
  color: #1565c0;
}
