@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lato);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
  color: #0e0e0e;
  background-color: #f6f6f6;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
