.mySwiper2 {
  position: relative !important;
  width: 343px !important;
  height: 391px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-bottom: 58px;

  @media screen and (min-width: 768px) {
    height: 358px !important;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    width: 520px !important;
    height: 505px !important;
    padding-bottom: 0;
  }
}

.mySwiper2 .swiper-wrapper {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.mySwiper2 .swiper-slide {
  border-radius: 20px !important;
  overflow: hidden;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 .mySwiper2-prev {
  padding: 10px;
  border-radius: 50%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.mySwiper2 .mySwiper2-prev:hover,
.mySwiper2 .mySwiper2-prev:focus {
  background-color: #9e9e9e;
}

.mySwiper2 .mySwiper2-next {
  padding: 10px;
  border-radius: 50%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.mySwiper2 .mySwiper2-next:hover,
.mySwiper2 .mySwiper2-next:focus {
  background-color: #9e9e9e;
}

.mySwiper2 .swiper-pagination {
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.mySwiper3 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mySwiper3 .swiper-wrapper {
  display: flex !important;
  flex-direction: column !important;
  gap: 14px !important;
}

.mySwiper3 .swiper-slide {
  width: 84px !important;
  height: 90px !important;
  margin-right: 0 !important;
  border-radius: 20px !important;
  overflow: hidden;
  opacity: 0.4;
  cursor: pointer;
}

.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
